.veg_list {
    width: 360px;
    height: 100vh;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: auto;
    // gap: .5rem;

    h3 {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;

        &:not(:nth-last-child(1)) {
            border-bottom: 1px solid #ccc;

        }
    }

}