<form [formGroup]="studentForm" (ngSubmit)="addProduct()">

    <input placeholder="Student Name" formControlName="name">
    <input placeholder="Student email" formControlName="email">
    <input placeholder="Student student_course" formControlName="student_course">
    <input placeholder="Student fee" formControlName="fee">
    <button type="submit" *ngIf="!selectedStudentId">Add Student</button>
    <button *ngIf="selectedStudentId" (click)="updateStudent()">Update</button>



</form>


<ul>
    <li *ngFor="let st of students; trackBy:studentName" (dblclick)="onEdit(st)">
        {{st.name}} | {{st.fee}}
        <button (click)="deleteItem(st)">Delete</button>
    </li>
</ul>